
<header>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/img/jumbo/01-javelin-matti-jarvinen.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Javelin</h3>
          <p class="lead">Matti Järvinen (1932)</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/img/jumbo/02-unsplash-athletics.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Second Slide</h3>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/img/jumbo/03-unsplash-basketball.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Now it is your turn!</h3>
          <p class="lead">
				Get inspired for a new hobby
			</p>
			<p class="lead">
				<a class="btn btn-primary" href="/draft" role="button">Enter the draft</a>
			</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-light">Now it is your turn!</h1>
    <p class="lead">
		Get inspired for a new hobby
	</p>
	<p class="lead">
		<a class="btn btn-primary" href="/draft" role="button">Enter the draft</a>
	</p>
  </div>
</section>

<div class="row gradient-grid">
	<div class="col-lg-12 text-center">
		
	</div>
</div>

<script>
	
	$("#pageViewContainer").removeClass('container');
</script>


