
<div class="row">
	<div class="col-lg-12">
		<div class="card card-signin flex-row my-5" id="frontCard" >
			<div class="card-img-left" >
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000" >
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"/>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"/>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"/>
						<li data-target="#carouselExampleIndicators" data-slide-to="3"/>
						<li data-target="#carouselExampleIndicators" data-slide-to="4"/>
						<li data-target="#carouselExampleIndicators" data-slide-to="5"/>
					</ol>
					<div class="carousel-inner" role="listbox">
						
						<div class="carousel-item active" style="background-image: url('/img/jumbo/02-unsplash-athletics.jpg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Track and Field</h3>
								<p class="lead"></p>
							</div>
						</div>
						
						<div class="carousel-item" style="background-image: url('/img/jumbo/03-unsplash-basketball.jpg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Basketball</h3>
								<p class="lead"></p>
							</div>
						</div>
						
						<div class="carousel-item" style="background-image: url('/img/jumbo/04-pexels-snowboard.jpeg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Snowboarding</h3>
								<p class="lead"></p>
							</div>
						</div>
						
						<div class="carousel-item" style="background-image: url('/img/jumbo/05-pexels-judo.jpg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Judo</h3>
								<p class="lead"></p>
							</div>
						</div>
						
						<div class="carousel-item" style="background-image: url('/img/jumbo/06-unsplash-tennis.jpg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Tennis</h3>
								<p class="lead"></p>
							</div>
						</div>
						
						<div class="carousel-item" style="background-image: url('/img/jumbo/01-javelin-matti-jarvinen.jpg')">
							<div class="carousel-caption d-none d-md-block">
								<h3 class="display-4">Javelin</h3>
								<p class="lead">Matti Järvinen (1932)</p>
							</div>
						</div>
						
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"/>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"/>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			
			<div class="card-body text-center">
				<br />
				<h1 class="font-weight-light">Now it is your turn!</h1>
				<p class="lead">
				Get inspired for a new hobby<br />
				Find out sports you are statistically fit for
				</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="/draft" role="button">Enter the Draft</a>
				</p>
			</div>
		</div>
	</div>
	
</div>

<script>
	
	$('body').addClass('gradient-grid');
	
	$(document).ready(function(){
		$("#footer").hide();
		$("#footer").html('');
	});
</script>


