
<div class="row">
	<div class="col-lg-12 text-center">
		
		<br /><br />
		<h3> In brief </h3>
		
		<hr />
		
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		
		<h5> Privacy </h5>
		<p>
			Privacy is very important aspect of the modern life and a concern to many. <br />
			Here, we do not share any personal data and we use it strickly for authentification purposes. <br />
			Cookie files are used to maintain a session where authentification data resides. <br />
			From identity provider (e.g. Google) we get following attributes: email, name, locale (language), photo. <br />
			The website though is still usable without logging in at all - in that case we might only check accepted language of your browser,
			for translation purposes.
			
			<br /><br />
			At any point of time, if you have questions - contact us via feedback form.
		</p>
		
		<br /><br />
		
	</div>
</div>

