
<div class="row">
	<div class="col-lg-12 text-center">
		
		<br /><br />
		<h3> Articles </h3>
		
		<hr />
		
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		
		<ul>
			<li>
				<a href="/articles/height-in-sport-outliers">Height in sport - outliers</a>
			</li>
			<li>
				<a href="/articles/nba-height-diversity">NBA diversity - height and weight</a>
			</li>
		</ul>
		
		<br /><br />
		
	</div>
</div>


