
<div class="row">
	<div class="col-lg-12 text-center">
		<h3 class="mt-4">Start your journey today</h3>
		<p class="lead">Complete the form below to find out sport matchups</p>
		
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-lg-6" >
		<form id="profile-form" >
			<div class="form-row">
			<!--
		  <div class="form-group">
			<label for="username">Name</label>
			<input type="text" class="form-control" id="username" aria-describedby="userHelp" value="Jack" />
			<small id="userHelp" class="form-text text-muted">Not important really</small>
		  </div>
		  -->
		  <div class="form-group col-6">
			<label for="gender">Gender</label>
			<select class="form-control" id="gender">
				<option value="male" >male</option>
				<option value="female" >female</option>
			</select>
		  </div>
		  
		  <div class="form-group col-6">
			<label for="units">Units</label>
			<select class="form-control" id="units">
				<option value="metric" >metric</option>
				<option value="imperical" >imperical</option>
			</select>
		  </div>
		  
		  <!--
		  <div class="form-group col-md-6">
			<label for="dob">Date of birth</label>
			<input type="date" class="form-control" id="dob" />
		  </div>
		  -->
		  <div class="form-group col-9">
			<label for="height">Height</label>
			<!--<input type="number" class="form-control" id="height" placeholder="centimeters" min="140" max="250" />-->
			
			<div class="input-group" id="height-mg" >
				<input type="number" class="form-control" id="height" placeholder="centimeters" min="140" max="250" aria-describedby="height-addon" />
				<div class="input-group-append">
					<span class="input-group-text" id="height-addon">cm</span>
				</div>
			</div>
			
			<div class="input-group" id="height-ig" >
				<input type="number" class="form-control" id="heightF" placeholder="feet" min="4" max="7" aria-describedby="height-f-addon" />
				<div class="input-group-append">
					<span class="input-group-text" id="height-f-addon">ft</span>
				</div>
				<input type="number" class="form-control" id="heightN" placeholder="inches" min="0" max="11" aria-describedby="height-n-addon" />
				<div class="input-group-append">
					<span class="input-group-text" id="height-n-addon">in</span>
				</div>
			</div>
			
		  </div>
		  <div class="form-group col-3">
			
			<label for="weight">Weight (kg)</label>
			<div class="input-group" id="weight-mg" >
				<input type="number" class="form-control" id="weight" placeholder="kilograms" min="30" max="150" aria-describedby="weight-addon" />
				<div class="input-group-append">
					<span class="input-group-text" id="weight-addon">kg</span>
				</div>
			</div>
			
			<div class="input-group" id="weight-ig" >
				<input type="number" class="form-control" id="weightL" placeholder="lbs" min="77" max="463" aria-describedby="weight-l-addon" />
				<div class="input-group-append">
					<span class="input-group-text" id="weight-l-addon">lbs</span>
				</div>
			</div>
			
		  </div>
		  
		  <!--
			
			<div class="form-group col-md-6">
				<label for="age">Age group</label>
				<input type="text" class="form-control" id="age" readonly value="adult 25+" />
			</div>
			<div class="form-group col-md-6">
				<label for="bmi">BMI</label>
				<input type="number" class="form-control" id="bmi" readonly />
			</div>
			-->
			
			</div><!-- END .form-row -->
			
			<div class="form-row">
				<div class="form-group col-6">
					<label> Season preference: </label> <br />
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="checkSummer" checked />
						<label class="form-check-label" for="checkSummer">Summer</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="checkWinter" checked />
						<label class="form-check-label" for="checkWinter">Winter</label>
					</div>
				</div>
				
				<br />
			</div>
			
			<div class="form-row preview-z1" >
				<div class="form-group col-sm-12" style="margin-bottom:0;" >
					<label >Include years between: </label>
				</div>
				<div class="form-group col-5">
					<input type="number" class="form-control" id="yearRangeStart" value="1980" min="1980" max="2008" readonly />
				</div>
				<div class="form-group col-5">
					<input type="number" class="form-control" id="yearRangeEnd" value="1990" min="1988" max="2018" readonly />
				</div>
				<div class="form-group col-2 text-center">
					<input type="text" class="form-control form-skip" id="yearRangeOut" value="10" readonly />
				</div>
			</div>
			
			<div class="form-row preview-z1" >
				<div class="form-group col-6">
					<label> Leagues: </label> <br />
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="inputlist-sets-olympics" checked />
						<label class="form-check-label" for="inputlist-sets-olympics">Olympics</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="inputlist-sets-nba" checked />
						<label class="form-check-label" for="inputlist-sets-nba">NBA</label>
					</div>
				</div>
				
				<br />
			</div>
			
			<div class="form-row" >
				<div class="form-group col-6">
					<label> Division play: </label>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="checkDivision" />
						<label class="form-check-label" for="checkDivision">ON</label>
					</div>
				</div>
				
				<br />
			</div>
			
			<div id="msg" class="alert" role="alert" ></div>
			
			<button id="form-btn" type="submit" class="btn btn-primary btn-block">Draft</button>
			
		</form>
		
		<br />
		
	</div>
	<div class="col-lg-6" >
		<p id="update" ></p>
		<p id="spin" ></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12" >
		
		<hr />
		<div id="result">
			<br /><br />
		<div>
		
	</div>
</div>

<script src="/js/draft.js" ></script>
<script>
	
	PAGE_NAME = 'draft';
	
	var commentBefore = [
		"Hold on a second, we've got you covered", 
		"Will be done in a moment"
	];
	
	var commentDone = [
		"Difficult approximation completed",
		"All good",
		"Done"
	];
	
	// ## func
	var submitForm = async function(){
		console.log('submitForm - start...');
		
		var obj = collectInput("#profile-form :input");
		var inputUnits = obj.units;
		if( inputUnits === 'imperical' ){
			
			obj.height = convertFeet(obj.heightF, obj.heightN);
			obj.weight = convertPound(obj.weightL);
		}
		
		// save to browser session
		if ( user && typeof(Storage) !== "undefined" ){
			sessionStorage.setItem('draft', JSON.stringify(obj) );
		}
		
		// validate
		delete obj.heightF;
		delete obj.heightN;
		delete obj.weightL;
		
		var valErr = validateInput(obj, inputUnits);
		if( valErr ){
			$("#msg").text(valErr);
			$("#msg").addClass("alert-danger");
			return false;
		}
		
		// reset 
		$('#form-btn').prop('disabled', true);
		alertHide();
		$("#spin").text("");
		$("#update").text( commentBefore[randomBetween(0, commentBefore.length)] );
		$("#result").text("");
		
		// start spinner
		var loaderInterval = setInterval(function(){
			var loadText = $("#spin").text();
			loadText += '.';
			
			if( loadText.length > 10 ){
				loadText = '.';
			}
			
			$("#spin").text(loadText);
		}, 700);
		
		// actual request
		var data = null;
		try {
			data = await doPost("/api/draft", obj, 2);
		}
		catch(err){
			console.log("submitForm - error - err = %j", err);
			var errText = err.responseText;
			var det = null;
			if( err.responseJSON && err.responseJSON.message ){
				errText = err.responseJSON.message;
				det = err.responseJSON.details;
			}
			
			if( det && inputUnits === 'imperical' ){
				// input.height must have a maximum value of 230
				// det => [{\"prop\":\"instance.height\",\"rule_name\":\"maximum\",\"rule_val\":230}]
				
				det.forEach(function(d){
					console.log('DEBUG 2 -', d);
					if( d.prop === 'instance.height' ){
						var imperVal = convertHeightMetricText(d.rule_val);
						errText = errText.replace(d.rule_val, imperVal);
					}
				});
			}
			
			alertShow(errText);
			$("#update").text("Something went wrong");
			$("#spin").text("");
			clearInterval(loaderInterval);
			
			$('#form-btn').prop('disabled', false);
		}
		
		if(data){
			console.log('draft - done - data = %j', data);
			$("#update").text("Heavy analytics ongoing, one more moment, please");
			
			setTimeout(function(){
				$("#update").text("Found top picks"); //Almost there
				
				$("#result").append('<h3>Sport matchups</h3>');
				var sportTableText = '<table class="table table-striped" >';
				sportTableText += createTableHeader('', 'sport', 'fit', 'low height', 'mid height', 'high height');
				
				data.sports.forEach(function(x){
					
					if( inputUnits === 'imperical' ){
						x.h_low = convertHeightMetricText(x.h_low);
						x.h_mid = convertHeightMetricText(x.h_mid);
						x.h_high = convertHeightMetricText(x.h_high);
					}
					
					var sportPic = x.key.split(':')[0];
					sportTableText += createTableRow(
						'<img width="24" src="/img/sports/'+ sportPic +'.png" alt="" />', x.key, (x.index + ' %'), x.h_low, x.h_mid, x.h_high
					);
				});
				
				sportTableText += '</table>';
				$("#result").append(sportTableText);
				
				setTimeout(function(){
					$("#update").text("Calculating roster...");
					
					$("#result").append('<br /><h3>Similar athletes</h3>');
					var rosterTableText = '<table class="table table-striped" >';
					rosterTableText += createTableHeader('name', 'sport', 'country', 'height', 'weight', 'medals');
					
					data.athletes.forEach(function(x){
						
						if( inputUnits === 'imperical' ){
							x.height = convertHeightMetricText(x.height);
							x.weight = convertWeightMetric(x.weight);
						}
						
						var personResults = '';
						var appendResultCell = function(row){
							if( row.year ){
								personResults += row.year;
							}
							if( row.year_start ){
								personResults += '(' + row.year_start + '-' + row.year_end + ')';
							}
							if( row.ys ){
								personResults += '(' + row.ys + '-' + row.ye + ')';
							}
							
							personResults += ' - ';
							if( row.mvp || row.m ){
								personResults += 'mvp:' + ( row.mvp || row.m ) + ' ';
							}
							personResults += (
								'g:' + (row.gold || row.g )
								+ ' s:' + (row.silver || row.s )
								+ ' b:' + (row.bronze || row.b )
							);
						};
						
						console.log('roster - debug = %j', x);
						
						if( x.results && x.results.length ){
							
							x.results.sort(function(a,b){
								return a.year - b.year;
							});
							
							x.results.forEach(function(r){
								appendResultCell(r);
								personResults += '<br />';
							});
						}
						else {
							appendResultCell(x);
						}
						
						rosterTableText += createTableRow(
							x.name, x.sport, x.country, x.height, x.weight, personResults
						);
					});
					
					rosterTableText += '</table>';
					$("#result").append(rosterTableText);
					
					setTimeout(function(){
						$("#update").text( commentDone[randomBetween(0, commentDone.length-1)] );
						
						if( data.calc ){
							
							$("#result").append('<br /><h3>Height chart - ' + data.calc.key + '</h3>');
							var h_chart = data.calc.height;
							var h_chart_text = '<pre>';
							
							if( inputUnits === 'imperical' ){
								var impHeightChart = {};
								
								Object.keys(h_chart).forEach(function(k){
									
									var impHeightArrKey = convertHeightMetricText(k);
									if( !impHeightChart[impHeightArrKey] ){
										impHeightChart[impHeightArrKey] = 0;
									}
									
									impHeightChart[impHeightArrKey] += h_chart[k];
								});
								var impChartKeys = Object.keys(impHeightChart);
								if( impChartKeys.length > 10 ){
									var tempImp = {};
									
									console.log('chart.imp - before group -', impHeightChart);
									for(var i=0; i<impChartKeys.length-2; i+=2){
										
										var tempImpKey = impChartKeys[i] + '+';
										tempImp[tempImpKey] = impHeightChart[impChartKeys[i]] + impHeightChart[impChartKeys[i+1]];
									}
									impHeightChart = tempImp;
									console.log('chart.imp - after group -', impHeightChart);
								}
								
								h_chart = impHeightChart;
								
							}
							else{
								
								if( Object.keys(h_chart).length > 10 ){
									var temp_h_chart = {};
									Object.keys(h_chart).forEach(function(k){
										
										var hg = (Math.floor(Number(k) / 5) * 5) + '+ cm';
										
										if( !temp_h_chart[hg] ){
											temp_h_chart[hg] = 0;
										}
										
										temp_h_chart[hg] += h_chart[k]; 
									});
									h_chart = temp_h_chart;
								}
							}
							
							Object.keys(h_chart).forEach(function(k){
								h_chart_text += "" + k + "\t= " + h_chart[k] + " %\t";
								for(var i=0; i<h_chart[k]; i++){
									h_chart_text += "|";
								}
								h_chart_text += "\n";
							});
							
							h_chart_text += '</pre>';
							$("#result").append(h_chart_text);
							
						} //.if data.calc
						
						$("#spin").text("");
						clearInterval(loaderInterval);
						
						// footer reset
						$("#footer").css({ 'margin-top': '' });
						
						var cheerHtml = '<hr /><br /><p>';
						if( !user ){
							cheerHtml += '<a href="/login" >Log in</a> to access more filters and to get more results';
							cheerHtml += '<br />';
						}
						
						cheerHtml += 'Take a moment to post some <a href="/feedback" >feedback</a>';
						cheerHtml += '</p>';
						$("#result").append(cheerHtml);
						
						$('#form-btn').prop('disabled', false);
						
					}, randomBetween(700, 1200));
				}, randomBetween(900, 1500));
			}, randomBetween(1100, 1800));
			
		}
		
	};
	
	var initValues = function(){
		//$("#gender").val("%{query.g}");
		//$("#height").val("%{query.h}");
		//$("#weight").val("%{query.w}");
		//$("#dob").val("%{query.dob}");
		
		//calculateBMI();
		//calculateAgeGroup();
		
		if( locale === 'en-US' ){
			$("#units").val('imperical');
		}
		
		$("#yearRangeEnd").val(2016);
		
		if( user ){
			if( user.allow > 300 ){
				$("#yearRangeStart").attr('readonly', false);
				$("#yearRangeEnd").attr('readonly', false);
				
				//$(".preview-z3 :input").attr('readonly', false);
				// careful not to unlock rangeOut
				
			}
			else{
				
				//$("#yearRangeEnd").val(2000);
				
				var eliteReqText = 'This feature is availible to elite users';
				var eliteReqHtml = 'This feature is availible to <a href="/rank" class="alert-link">elite</a> users';
				
				$(".preview-z3 :input").attr('title', eliteReqText);
				$(".preview-z3 :input").attr('title-html', eliteReqHtml);
				$(".preview-z3 :input").click(showTitle);
			}
		}
		else{
			
			var authReqText = 'Log in to get more options and results';
			var authReqHtml = '<a href="/login" class="alert-link">Log in</a> to get more options and results';
			
			$(".preview-z3 :input").attr('title', authReqText);
			$(".preview-z3 :input").attr('title-html', authReqHtml);
			
			$(".preview-z3 :input").click(showTitle);
			
			$(".preview-z1 input:checkbox").parent().attr('title', authReqText);
			$(".preview-z1 input:checkbox").parent().attr('title-html', authReqHtml);
			$(".preview-z1 input:checkbox").attr('disabled', true);
			$(".preview-z1 input:checkbox").parent().click(showTitle);
		}
		
		calculateYearRange();
		
		// retrieve browser session
		if ( user && typeof(Storage) !== "undefined" ){
			var sessionDraftText = sessionStorage.getItem('draft');
			console.log('init - found draft in browser session - ', sessionDraftText);
			if( sessionDraftText ){
				try{
					var sessionDraft = JSON.parse(sessionDraftText);
					
					for(var p in sessionDraft){
						
						if (typeof sessionDraft[p] === "boolean"){
							$("#" + p).prop("checked", sessionDraft[p]);
						}
						else {
							if( sessionDraft[p] ){
								$("#" + p ).val( sessionDraft[p] );
							}
						}
					}
				}
				catch(e){
					
				}
				
			}
		}
		
		inputForUnits();
	};
	
	initValues();
	
	// ## flow
	$(document).ready(function(){
		
		console.log('home - start...');
		
		$("#height").on("change paste keyup", calculateBMI);
		$("#weight").on("change paste keyup", calculateBMI);
		$("#dob").on("change", calculateAgeGroup);
		
		$("#yearRangeStart").on("change paste keyup", calculateYearRange);
		$("#yearRangeEnd").on("change paste keyup", calculateYearRange);
		
		$("#units").on("change", inputForUnits);
		
		$("#profile-form").submit(function(event){
			submitForm();
			return event.preventDefault();
		});
		$(document).keypress(function(e) {
			if(e.which == 13){
				return submitForm();
			}
		});
		
	});
</script>


