
<div class="row">
	<div class="col-lg-12 text-center">
		
		<br /><br />
		<h3> How do you like it? </h3>
		
		<hr />
		
	</div>
</div>

<div class="row">
	
	<div class="col-lg-3" >
		<!-- temp placeholder -->
	</div>
	
	<div class="col-lg-6" id="feed" >
		<form id="feedback-form" >
			
			<div class="form-row">
				<div class="form-group col-12">
					<label for="msg">Message</label>
					<textarea rows="3" class="form-control" id="message" placeholder="Share your opinion..."></textarea>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-6 empty-z1" >
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="checkContact" checked />
						<label class="form-check-label" for="checkContact" >Can contact me</label>
					</div>
				</div>
				<div class="form-group col-6 text-right">
					<span id="charCnt">0</span><span> / 500</span>
				</div>
			</div>
			
			<div class="form-row" >
				<div class="form-group col-6">
				</div>
				<div class="form-group col-3">
					<button id="feedback-cancel" type="button" class="btn btn-outline-secondary float-right">Cancel</button>
				</div>
				<div class="form-group col-3">
					
					<button id="feedback-send" type="submit" class="btn btn-primary float-right">Send</button>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-12">
					<p id="spin" ></p>
					<div id="alert" class="alert" role="alert" ></div>
				</div>
			</div>
		</form>
	</div>
	
</div>

<script>
	
	// ## config
	PAGE_NAME = 'feedback';
	
	var clearForm = function(){
		console.log('clearForm - start...');
		$("#message").val('');
		$("#charCnt").text('0');
	};
	var collectForm = function(){
		
		var obj = {};
		
		obj.msg = $("#message").val();
		if( user ){
			obj.contact = $("#checkContact").is(':checked');
		}
		
		return obj;
	};
	var validateForm = function(obj){
		
		var schemaFeedback = {
			required: ['msg'],
			properties: {
				msg: {
					type: 'string',
					maxLength: 500
				}
			}
		};
		
		return null;
	};
	var submitForm = function(){
		console.log('submitForm - start...');
		var obj = collectForm();
		var valErr = validateForm(obj);
		
		console.log('submitForm - collected - obj = %j', obj);
		
		// reset 
		$('#feedback-send').prop('disabled', true);
		$('#feedback-cancel').prop('disabled', true);
		$("#alert").text("");
		$("#alert").removeClass("alert-danger");
		$("#spin").text('');
		
		// start spinner
		var loaderInterval = setInterval(function(){
			var loadText = $("#spin").text();
			loadText += '.';
			
			if( loadText.length > 10 ){
				loadText = '.';
			}
			
			$("#spin").text(loadText);
		}, 700);
		
		// actual request
		var opts = {
			url: "/api/feedback",
			data: JSON.stringify(obj),
			contentType: 'application/json'
		};
		var req = $.post(opts).done(function(data){
			
			console.log('feedback - done - data = %j', data);
			$("#alert").html('<h4 class="alert-heading">Well done!</h4><p>thank you</p>');
			$("#alert").addClass("alert-success");
			
			clearForm();
			
		}).fail(function(err) {
			
			console.log('feedback - catch - err = %j', err);
			var errText = ( err.responseJSON && err.responseJSON.message ) ?
				err.responseJSON.message : err.responseText;
			
			$("#alert").html(errText);
			$("#alert").addClass("alert-danger");
			
		}).always(function() {
			$('#feedback-send').prop('disabled', false);
			$('#feedback-cancel').prop('disabled', false);
			
			clearInterval(loaderInterval);
			$("#spin").text("");
		});
		
	};
	
	$(document).ready(function(){
		
		console.log('feedback - start...');
		
		$("#feedback-cancel").click(clearForm);
		$("#feedback-form").submit(function(event){
			submitForm();
			return event.preventDefault();
		});
		
		$("#message").on("change paste keyup", function(){
			var obj = collectForm();
			
			$("#charCnt").text( obj.msg.length );
		});
	});
</script>


