
<div class="row mt-5" id="frontCard" >
	<div class="col-sm-7">
		<div id="jumbo" class="carousel slide" data-ride="carousel" data-interval="7000" >
			<ol class="carousel-indicators">
				<li data-target="#jumbo" data-slide-to="0" class="active"/>
				<li data-target="#jumbo" data-slide-to="1"/>
				<li data-target="#jumbo" data-slide-to="2"/>
				<li data-target="#jumbo" data-slide-to="3"/>
				<li data-target="#jumbo" data-slide-to="4"/>
				<li data-target="#jumbo" data-slide-to="5"/>
			</ol>
			<div class="carousel-inner" role="listbox">
				
				<div class="carousel-item active" style="background-image: url('/img/jumbo/02-unsplash-athletics.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Track and Field</h3>
						<p class="lead"></p>
					</div>
				</div>
				
				<div class="carousel-item" style="background-image: url('/img/jumbo/03-unsplash-basketball.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Basketball</h3>
						<p class="lead"></p>
					</div>
				</div>
				
				<div class="carousel-item" style="background-image: url('/img/jumbo/04-pexels-snowboard.jpeg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Snowboarding</h3>
						<p class="lead"></p>
					</div>
				</div>
				
				<div class="carousel-item" style="background-image: url('/img/jumbo/05-pexels-judo.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Judo</h3>
						<p class="lead"></p>
					</div>
				</div>
				
				<div class="carousel-item" style="background-image: url('/img/jumbo/06-unsplash-tennis.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Tennis</h3>
						<p class="lead"></p>
					</div>
				</div>
				
				<div class="carousel-item" style="background-image: url('/img/jumbo/01-javelin-matti-jarvinen.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="display-4">Javelin</h3>
						<p class="lead">Matti Järvinen (1932)</p>
					</div>
				</div>
				
			</div>
			<a class="carousel-control-prev" href="#jumbo" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"/>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#jumbo" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"/>
				<span class="sr-only">Next</span>
			</a>
		</div>
		
	</div>
	
	<div class="col-sm-5">
		
		<h1 class="font-weight-light">Now it is your turn!</h1>
		<p class="lead">
			Get inspired for a new hobby<br />
			Find out sports you are statistically fit for
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/draft" role="button">Enter the Draft</a>
		</p>
		
	</div>
</div>

<div class="row mt-2">
	<div class="col-lg-12">
		<hr />
	</div>
</div>

<script>
	
	// ## config
	var carItemHeightDefault = $(".carousel-item").css("height");
	var carItemHeightMin = '45vh';
	var frontMarginDefault = $("#frontCard").attr("class").split(' ').find( x => x.includes('mt') );
	var frontMarginMin = 'mt-2';
	
	// ## func
	function checkScreenWidth() {
		var windowsize = $(window).width();
		console.log('front.checkScreenWidth - start - window = %s', windowsize);
		if ( windowsize < 500 ) {
			$(".carousel-item").css("height", carItemHeightMin);
			$("#frontCard").removeClass(frontMarginDefault);
			$("#frontCard").addClass(frontMarginMin);
		}
		else {
			$(".carousel-item").css("height", carItemHeightDefault);
			$("#frontCard").addClass(frontMarginDefault);
			$("#frontCard").removeClass(frontMarginMin);
		}
	}
	
	// ## flow
	
	//$('body').addClass('gradient-grid');
	//$('#frontCard').addClass('white-back');
	
	$(document).ready(function(){
		$("#footer").hide();
		$("#footer").html('');
		
		//$("#pageViewContainer").removeClass('container');
		
		checkScreenWidth();
		$(window).resize(checkScreenWidth);
	});
</script>


