
<div class="row">
	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		<div id="login-card" class="card card-signin my-5">
			<div class="card-body">
				<h5 class="card-title text-center">Login</h5>
				<p class="text-center" id="loginNote" style="display:none;"> please login to view that page </p>
				
				<form class="form-signin">
					<hr class="my-4">
					<a class="btn btn-lg btn-google btn-block text-uppercase" href="/auth/login" ><i class="fab fa-google mr-2"></i>Google</a>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	
	PAGE_NAME = 'login';
	
	var red = "%{r}";
	var noteEl = $("#loginNote");
	
	console.log('login - start - red = %s', red);
	if( red && red !== "null" ){
		noteEl.show();
	}
	else {
		noteEl.hide();
	}
</script>


