
<div class="row">
	<div class="col-lg-12 text-center">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				Sport list
			</div>
			<div class="card-body" id="sport-list" >
				
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				missing height &nbsp; <span class="badge badge-secondary" id="cnt-miss-height"></span>
			</div>
			<table class="card-table table table-striped" id="table-miss-height" >
				
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				missing weight &nbsp; <span class="badge badge-secondary" id="cnt-miss-weight"></span>
			</div>
			<table class="card-table table table-striped" id="table-miss-weight" >
				
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
	<hr />
	</div>
</div>

<div class="row">
	
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				miss dob  &nbsp; <span class="badge badge-secondary" id="cnt-miss-dob"></span>
			</div>
			<table class="card-table table table-striped" id="table-miss-dob" >
				
			</table>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				miss sub &nbsp; <span class="badge badge-secondary" id="cnt-miss-sub"></span>
			</div>
			<table class="card-table table table-striped" id="table-miss-sub" >
				
			</table>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				potential duplicates &nbsp; <span class="badge badge-secondary" id="cnt-dupl"></span>
			</div>
			<table class="card-table table table-striped" id="table-dupl" >
				
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				miss bmi
			</div>
			<table class="card-table table table-striped" id="table-miss-bmi" >
				
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<pre id="debug" ></pre>
	</div>
</div>

<script>
	
	PAGE_NAME = 'quality';
	
	// ## func
	
	
	// ## flow
	var qa = %{qa};
	console.log('quality - start - qa = %j', Object.keys(qa));
	
	$("#sport-list").text(Object.keys(qa.sportList).sort().join(', '));
	
	var manMapper = function(x){
		return createTableRow(x.name, x.sport);
	};
	
	$("#table-miss-height").html(qa.missHeight.map(manMapper));
	$("#cnt-miss-height").text(qa.missHeightCnt);
	
	$("#table-miss-weight").html(qa.missWeight.map(manMapper));
	$("#cnt-miss-weight").text(qa.missWeightCnt);
	
	$("#table-miss-bmi").html(qa.missBmi.map(manMapper));
	$("#table-miss-dob").html(qa.missDob.map(manMapper));
	$("#cnt-miss-dob").text(qa.missDobCnt);
	
	$("#table-dupl").html(qa.dupl.map(manMapper));
	$("#cnt-dupl").text(qa.duplCnt);
	
	$("#table-miss-sub").html(qa.missSub.map(manMapper));
	$("#cnt-miss-sub").text(qa.missSubCnt);
	
	//$("#debug").text(JSON.stringify(sportList, null, 2));
	
</script>


