
<div class="row">
	<div class="col-lg-12 text-center">
		
		<h3 class="mt-4" > Contribute </h3>
		<hr />
		
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center" >
		<p id="currentRank" >Support our project, become an Elite user and get access to all advanced features</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3" >
		&nbsp;
	</div>
	<div class="col-md-6" >
	<ul class="fa-ul" >
		<li><i class="far fa-check-circle"></i> Draft - 5 line-up results</li>
		<li><i class="far fa-check-circle"></i> Draft - year selectors for analysis</li>
		<li><i class="far fa-check-circle"></i> Stats - 6 additional widgets (incl. Tall average, Short average)</li>
		<li><i class="far fa-check-circle"></i> Additional datasets (incl. NBA)</li>
		<li><i class="far fa-check-circle"></i> Access to all upcoming fetures</li>
	</ul>
	
	</div>
	
	<div class="col-md-3" >
		&nbsp;
	</div>
	
	<div class="col-md-3" >
		&nbsp;
	</div>
	<div class="col-md-6 text-center" >
		<div id="sub-msg" class="alert" role="alert" ></div>
		
		<!-- LIVE -->
		<form action="https://www.paypal.com/donate" method="post" target="_top">
			<input type="hidden" name="hosted_button_id" value="JTCDJZW2LSRZU" />
			<input type="hidden" name="custom" value="" id="formCustomField" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<!-- <img alt="" border="0" src="https://www.paypal.com/en_FI/i/scr/pixel.gif" width="1" height="1" /> -->
		</form>
		
	</div>
	
	<!-- TODO Current target progress-bar -->
	
</div>
<div class="row">
	<div class="col-md-12 text-center" >
		<p>
			<small>
				<br />
				Currently we are in active development phase and looking for support to enchance infrastructure<br />
				Donation is appreciated with beta access to all new features and Elite rank for 3 month period<br />
				Transactions processed automatically, but dont hesitate to hit Feedback page in case of issues<br />
				Add your Gmail account to notes if it differs from Paypal email<br />
			</small>
		</p>
	</div>
</div>


<script>
	
	// ## config
	PAGE_NAME = 'rank';
	
	// ## flow
	console.log('rank - start - id = %s | allow = %s', user.id, user.allow);
	
	if( user.allow > 300 ){
		$("#sub-msg").html('Congrats, you already have <u><strong>' + user.rank + '</strong></u> rank' );
		$("#sub-msg").addClass("alert-success");
	}
	
	$("#formCustomField").val('userid=' + user.id);
	
	// /rank?tx=74X163&st=Completed
	var href = window.location.href;
	var reloadCheckTrigger = (
		user.allow < 300
		&& href.indexOf('?') > -1
		&& href.indexOf('&') > -1
		&& href.indexOf('tx=') > -1 
		&& href.indexOf('st=Completed') > -1
	);
	var CHECK_INTERVAL = 3000;
	
	console.log('rank - check - trigger = %s', reloadCheckTrigger);
	if( reloadCheckTrigger ){
		
		$("#sub-msg").text('Checking status...');
		$("#sub-msg").addClass("alert-secondary");
		
		setInterval(function(){
			
			var req = $.get({
				url: "/api/me"
			})
			.done(function(result){
				var stateChange = ( result.fetch || result.allow !== user.allow);
				if( stateChange ){
					console.log('rank - int - res = %j', result);
					window.location.href = '/rank';
				}
			});
			
		}, CHECK_INTERVAL);
	}
	
</script>


