
<div class="row">
	<div class="col-lg-12 text-center">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Datasets
		</div>
		<table class="card-table table table-striped" id="table-sets" >
			
		</table>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Overview
		</div>
		<table class="card-table table table-striped" id="table-agg" >
			
		</table>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Most present
		</div>
		<div class="card-body">
			<canvas id="pieSportMost"></canvas>
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
	<hr />
	</div>
</div>

<div class="row preview-z3">
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Tall average
		</div>
		<table class="card-table table table-striped" id="table-tall" >
			
		</table>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Short average
		</div>
		<table class="card-table table table-striped" id="table-short" >
			
		</table>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Least present
		</div>
		<div class="card-body">
			<canvas id="pieSportLeast"></canvas>
		</div>
	</div>
	</div>
</div>

<div class="row protect-z3">
	<div class="col-lg-12">
	<hr />
	</div>
</div>
<div class="row protect-z3">
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Most inclusive
		</div>
		<table class="card-table table table-striped" id="table-range-high" >
			
		</table>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="card">
		<div class="card-header">
			Least inclusive
		</div>
		<table class="card-table table table-striped" id="table-range-low" >
			
		</table>
	</div>
	</div>
	
	<div class="col-lg-4">
		<div class="card">
			<div class="card-header">
				Most females (percentage)
			</div>
			<div class="card-body">
				<canvas id="pieFemaleMost"></canvas>
			</div>
		</div>
	</div>
</div>

<script>
	
	// ## config
	PAGE_NAME = 'stats';
	
	var pieCommonOpts = {
		legend: { position:'bottom' },
		plugins: {
			colorschemes: {
				scheme: 'tableau.Tableau10'
			}
		}
	};
	
	var addPieUnits = function(unitSymbol){
		return function(item, data){
			var label = data.labels[item.index] || '';
			if (label) {
				label += ': ';
			}
			label += data.datasets[0].data[item.index] + ' ' + unitSymbol;
			return label;
		};
	};
	
	var piePercentOpts = Object.assign({}, pieCommonOpts);
	piePercentOpts.tooltips = {
		callbacks: {
			label: addPieUnits('%')
		}
	};
	
	// ## func
	
	
	// ## flow
	console.log('stats - start...');
	
	var meta = %{meta};
	var agg = %{agg};
	
	// ### First row
	var cardSetsHtml = "";
	//cardSetsHtml += createTableHeader('set', 'count');
	meta.sets.forEach(function(x){
		
		if( x.ready < 2 ){
			var mutedCount = (x.cnt) ? ' (' + x.cnt + ')' : '';
			cardSetsHtml += createTableMuted(x.name, x.state + mutedCount );
		}
		else {
			if( x.enabled ){
				cardSetsHtml += createTableRow(x.name, x.cnt);
			}
			else {
				cardSetsHtml += createTableMuted(x.name, x.kind);
			}
		}
	});
	$("#table-sets").html(cardSetsHtml);
	
	var cardAggHtml = "";
	//cardAggHtml += createTableRow("count", agg.cnt);
	cardAggHtml += createTableRow("height min", agg.h_min);
	cardAggHtml += createTableRow("height max", agg.h_max);
	cardAggHtml += createTableRow("year min", agg.y_min);
	cardAggHtml += createTableRow("year max", agg.y_max);
	$("#table-agg").html(cardAggHtml);
	
	var pieSportChartEl = $('#pieSportMost');
	var pieChartPresentMost = new Chart(pieSportChartEl, {
		type: 'pie',
		data: {
			labels: agg.sportListPieMost.map( x => x.label ),
			datasets: [{ data: agg.sportListPieMost.map( x => x.cnt ) }]
		},
		options: pieCommonOpts
	});
	
	// authorized
	if( user && user.allow > 300 ){
		// ### Second row
		var cardTallHtml = "";
		agg.sportListTall.forEach(function(x){
			cardTallHtml += createTableRow(x.label, x.h_avg);
		});
		$("#table-tall").html(cardTallHtml);
		
		var cardShortHtml = "";
		agg.sportListShort.forEach(function(x){
			cardShortHtml += createTableRow(x.label, x.h_avg);
		});
		$("#table-short").html(cardShortHtml);
		
		var pieSportLeastEl = $('#pieSportLeast');
		var pieChartPresentLeast = new Chart(pieSportLeastEl, {
			type: 'pie',
			data: {
				labels: agg.sportListPieLeast.map( x => x.label ),
				datasets: [{ data: agg.sportListPieLeast.map( x => x.cnt ) }]
			},
			options: pieCommonOpts
		});
		
		// ### Third row
		var cardMostIncHtml = "";
		agg.rangeHigh.forEach(function(x){
			cardMostIncHtml += createTableRow(x.label, x.h_low + ' - ' + x.h_high);
		});
		$("#table-range-high").html(cardMostIncHtml);
		
		var cardLeastIncHtml = "";
		agg.rangeLow.forEach(function(x){
			cardLeastIncHtml += createTableRow(x.label, x.h_low + ' - ' + x.h_high);
		});
		$("#table-range-low").html(cardLeastIncHtml);
		
		// ### third - pie
		
		
		var pieFemaleMostEl = $('#pieFemaleMost');
		var pieChartFemaleMost = new Chart(pieFemaleMostEl, {
			type: 'pie',
			data: {
				labels: agg.femalePieMost.map( x => x.label ),
				datasets: [{ data: agg.femalePieMost.map( x => x.pc ) }]
			},
			options: piePercentOpts
		});
		
	}
	else {
		$('#pieSportLeast').parent().html('');
		
		var cardList = [];
		$('.preview-z3 .card-header').each(function( index ) {
			cardList.push($(this).text().trim());
		});
		console.log('cardList - %j', cardList);
		
		var rankAlertHtml = [
			'<div class="col-lg-12 text-center" >',
			'<div class="alert alert-light" role="alert" >',
			'<a href="/rank" class="alert-link">Elite</a> users can also see - ',
			cardList.join(', '),
			'</div></div>'
		];
		$('.preview-z3').html( rankAlertHtml.join('') );
	}
	
</script>


