
/* common */
.navbar {
	background-color: #391369;
}

.btn:hover {
  color: #444;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(89, 49, 150, 0.25);
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
	color: #fff;
	background-color: #593196;
	border-color: #593196;
}
.btn-primary:hover {
	color: #fff;
	background-color: #482879;
	border-color: #422470;
}
.btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #482879;
	border-color: #422470;
	box-shadow: 0 0 0 0.2rem rgba(114, 80, 166, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #593196;
	border-color: #593196;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #422470;
  border-color: #3c2166;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 80, 166, 0.5);
}

/* login */
#login-card {
	background-color: #f0f0f0;
}
.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}
.btn-google {
	color: white;
	background-color: #ea4335;
}

.invert-black {
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
}

.gradient-grid {
	/* background: url(/img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430); */
	/* background: url(/img/bg-pattern.png),linear-gradient(to right, #c22121, #391369); */
	
	/* background: url(/img/bg-pattern.png),linear-gradient(to right, #c22121, purple, indigo, #391369); */
	background: linear-gradient(to right, #c22121, purple, indigo, #391369); 
}
.white-back {
	background-color: #fff;
}

/* front - full width carousel */
.carousel-item {
  height: 75vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .carousel-item {
	transition-duration: 3s;
	max-width: none;
}

.card-signin .card-img-left {
	width: 50%;
}

.card-signin .card-body {
  padding: 2rem;
}

#frontCard {
	border: 0;
}

/* blog */
h1, h2, h3, h4, h5 {
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.blog-pic {
	/* 
	max-height: 400px;
	min-height: 150px;
	*/
}






