
<div class="row">
	<div class="col-lg-12 text-center">
		
		<br /><br />
		<h3> Height in sport - outliers </h3>
		<hr />
		
	</div>
</div>

<div class="row">
	<div class="col-lg-12" >
		
		<p>
			Depending on a sport (sometimes position in a team) - height may play more or less of a role.
			For example, on average - Basketball players are Tall, whereas Marathon runners tend to be short.
			For sure, genetic attributes do not determine results - in many cases, height or specific body type
			creates initial advantage. Consider boxing, taekwondo or fencing - in these cases reach (wingspan)
			may serve as advantage and the reach is usually proportional to one's height. So, all in all, 
			height does create some level of advantage having a longer range of attack. 
			<br /><br />
			In this article though, we'll take a look on people who stand away from average height for their sport
			and yet, they were able to achieve considerable results.
			<br /><br />
		</p>
		
		<h4 class="my-3" >Dawn Staley / Allen Iverson <small class="text-muted">Basketball</small></h4>
		
		<p>
			In basketball, on average players are tall. The height usually makes it easier to start. As for example, think of
			vertical jump and two persons of different height without specific training 
			- a taller person will most of the time outperform a shorter one.
		</p>
		
		<div class="row">
			<div class="col-md-4" >
			<figure class="figure">
				<img src="/img/articles/01-staley-and-iverson.png" class="figure-img img-fluid rounded blog-pic" alt="Staley and Iverson" />
				<figcaption class="figure-caption">sources: xgames.com / poundingtherock.com</figcaption>
			</figure>
			</div>
			
			<div class="col-md-8" >
			<p>
				Dawn Staley is listed at 168 cm (5'6") and yet she got considerable achievements.
				Dawn is also a successful coach since 2000.
				Her highlights during career as a WNBA player (1999 - 2006) - include:
				<ul>
					<li>3 Olympic gold medals (1996, 2000, 2004)</li>
					<li>WNBA Hall of Fame member</li>
				</ul>
			</p>
			<p>
				Allen Ezail Iverson is 183 cm (6'0") tall. That might be considered above average for general population, however
				in Basketball it is far from mathematical mean. 
				That fact could not hold him down, Iverson player professionally during 1996-2011 and as a result:
				<ul>
					<li>NBA MVP (2001)</li>
					<li>Olympics bronze (2004)</li>
					<li>NBA Eastern conference champion (2001)</li>
					<li>NBA Scoring champion (1999, 2001, 2002, 2005)</li>
					<li>Second in NBA Career Per Game Average in the Playoffs (Michael Jordan is the first)</li>
				</ul>
				
			</p>
			</div>
		</div>
		
		<h4 class="my-3" >Usain Bolt <small class="text-muted">Athletics</small></h4>
		
		<p>
			In athletics (sprint in particular) the height question comes a little tricky - as Taller does not equal better.
			Instead, there seem to be a golden ratio at which person should be strong enough to get maximum speed, but not too tall
			to have optimal speed-to-weight ratio for good acceleration. The height range for sprinters tends to be around 175 cm (5'9")
			and 188 cm (6'2"). On top of that, a discussion goes, that shorter ones often do better on 100-race, whereas taller ones perform
			better on 800 distance.
		</p>
		
		<div class="row">
			<div class="col-md-4" >
			<figure class="figure">
				<img src="/img/articles/01-usain-bolt.jpg" class="figure-img img-fluid rounded blog-pic" alt="Bolt" />
				<figcaption class="figure-caption">source: theguardian.com</figcaption>
			</figure>
			</div>
			<div class="col-md-8" >
			
			<p>Despite the introduction above, there is Usain St. Leo Bolt, 195 cm (6'5"), who has been dominating Olympic games since 2008. 
			Achievement list includes:
			<ul>
				<li>8 Olympic gold medals</li>
				<li>11 World championship gold medals</li>
				<li>100m World record - 9.58 seconds</li>
				<li>200m World record - 19.19 seconds</li>
			</ul>
			</div>
		</div>
		
		<h4 class="my-3" >Svetlana Khorkina / Aleksey Nemov <small class="text-muted">Gymnastics</small></h4>
		
		<p>
			Gymnasts are on a shorter side of a scale. Usually, explanation for that goes
			as follow - shorter individual has lower center of mass, which provides better balance and
			easier time to perform rotation moves (e.g. front flip).
		</p>
		
		<div class="row">
			<div class="col-md-4" >
			<figure class="figure">
				<img src="/img/articles/01-khorkina-and-nemov.jpg" class="figure-img img-fluid rounded blog-pic" alt="Khorkina and Nemov" />
				<figcaption class="figure-caption">source: wikipedia.org</figcaption>
			</figure>
			</div>
			<div class="col-md-8" >
				
				<p>Svetlana Vasilyevna Khorkina is listed at 165 cm (5'5"). However, for an average gymnast that can be considered as tall.
				For example, Carly Patterson (2004 Olympics gold) is only 152cm (5'0"). Despite unusual height for the sport, Svetlana
				collected considerable amount of Olympic and World championship medals:
				<ul>
					<li>2x Olympic gold (1996, 2000)</li>
					<li>4x Olympic silver (1996-2004)</li>
					<li>9x World championships (1995-2003)</li>
				</ul>
				
				<p>Same story goes for male gymnast Alexei Yuryevich Nemov. Alexei is 173cm (5'8") tall participated in 1996, 2000, 2004 Olympics.
				His results contain:
				<ul>
					<li>4x Olympic gold (1996, 2000)</li>
					<li>2x Olympic silver (1996, 2000)</li>
					<li>5x World championships (1995-1999)</li>
				</ul>
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	
	<div class="col-lg-12" >
		<hr />
		<br />
		<p>
			Find out a sport you statistically fit for - <a href="/draft">Draft</a>
			<br />
			Take a moment to post some <a href="/feedback">feedback</a>
		</p>
	</div>
	
	<!--
	<div class="col-lg-12" >
		<hr />
		<p>
			Tags: height, basketball, athletics, gymnastics
			Published: 14/11/2020
		</p>
	</div>
	-->
</div>

<script>
	
	PAGE_NAME = 'Height in sport - outliers';
	
</script>


