
<div class="row">
	<div class="col-lg-12 text-center">
		
		<br /><br />
		<h3> NBA height and weight diversity </h3>
		<hr />
		
	</div>
</div>

<div class="row">
	<div class="col-lg-12" >
		
		<p>
			Should everyone in a NBA team be super tall? Or a team can benefit having diverse set of players?
			<br /><br />
			In this article, we'll take a look at NBA diversity in regards to height and BMI (weight-height ratio) 
			and how they have been changing since 1980 till present days.
			<br /><br />
		</p>
		
		<h4 class="my-3" >Height over time </h4>
		<div class="row">
			<div class="col-md-6" >
			<figure class="figure">
				<img src="/img/articles/02-1-height-over-time.png" class="figure-img img-fluid rounded blog-pic" alt="NBA height over time" />
				<figcaption class="figure-caption">NBA avg height over time</figcaption>
			</figure>
			</div><!--./col -->
			
			<div class="col-md-6" >
				<p>
				Average height trend line doesn't seem to change much (maybe just a little upward).
				On the other hand - we can observe dispersion becomes less of a thing since 2000.
				The cluster though means - there is still difference from one team to another,
				however as time goes by - we see less of super tall or super short players.
			</div><!--./col -->
		</div><!--./row -->
		
		<h4 class="my-3" >Weight (BMI) over time </h4>
		<div class="row">
			
			<div class="col-md-6" >
				<p>
				Here we have certain upslope with its' peak around 2010. As we talk about atheles - we can rely
				on the assumtion that weight comes from muscle mass rather than fat. That's being said, we can 
				conclude that that players work out in GYM way more, and average player is about 22 lbs (10 kg)
				heavier than before.
			</div><!--./col -->
			
			<div class="col-md-6" >
			<figure class="figure">
				<img src="/img/articles/02-2-weight-over-time.png" class="figure-img img-fluid rounded blog-pic" alt="NBA height over time" />
				<figcaption class="figure-caption">NBA avg weight over time</figcaption>
			</figure>
			</div><!--./col -->
			
		</div><!--./row -->
		
		<h4 class="my-3" >How Height diversity contributes towards results </h4>
		<div class="row">
			<div class="col-md-6" >
			<figure class="figure">
				<img src="/img/articles/02-3-result-over-height.png" class="figure-img img-fluid rounded blog-pic" alt="NBA height over time" />
				<figcaption class="figure-caption">Results over height</figcaption>
			</figure>
			</div><!--./col -->
			
			<div class="col-md-6" >
				<p>
				The data is not certain as of course physical measurements are not main contributors.
				However even here we can observe a trenline. A team with average between 6'6" and 6'8" (199-203 cm)
				together with standard deviation of 0'2" - 0'4" (6-11 cm) yields best results in Playoffs
			</div><!--./col -->
		</div><!--./row -->
		
		<h4 class="my-3" >How Weight diversity contributes towards results </h4>
		<div class="row">
			
			<div class="col-md-6" >
				<p>
				The distribution is flat, meaning on a given timeframe - weight is less of a factor for the game.
				Nevertheless we have around 198-231 lbs (90-105 kg) average with 13-35 lbs (6-16 kg) standard deviation.
			</div><!--./col -->
			
			<div class="col-md-6" >
			<figure class="figure">
				<img src="/img/articles/02-4-result-over-weight.png" class="figure-img img-fluid rounded blog-pic" alt="NBA height over time" />
				<figcaption class="figure-caption">Results over weight</figcaption>
			</figure>
			</div><!--./col -->
			
		</div><!--./row -->
		
		<h4 class="my-3" >Building a dream team </h4>
		<p>
		What it gives us in total? There is no golden numbers that bring a victory, however the analysis
		provides us with some kind of boundaries. If I were given a task to build up a team - I would go
		with 6'7" +-3" (200+-8,5 cm) height and (98+-12 kg) weight.<br />
		My starting lineup would go then as:
		</p>
		<table class="table">
			<tr><th>POS</th><th>H (ft)</th><th>H (cm)</th><th>exemplar</th></tr>
			
			<tr><td>PG</td><td>6'3"</td><td>191</td><td>K. Irving, D. Lillard</td></tr>
			<tr><td>SG</td><td>6'5"</td><td>196</td><td>R. Allen</td></tr>
			<tr><td>SF</td><td>6'7"</td><td>201</td><td>K. Leonard</td></tr>
			<tr><td>PF</td><td>6'9"</td><td>206</td><td>M. Beasley</td></tr>
			<tr><td>C</td><td>6'11"</td><td>211</td><td>T. Duncan</td></tr>
		</table>
		<br /><br />
		The estimate above should be taken with a grain of salt of course, as <br />
		Skill, talent, diligence, dedication and teamplay matter much more in the end. <br />
		And the statistics in general does not guarantee the best result, however does provides
		some certanty about avoiding the worst - ie the team example not nessesary would be a champion,
		however would be among the top.
		
	</div>
</div>

<div class="row">
	
	<div class="col-lg-12" >
		<hr />
		<br />
		<p>
			Find out a sport you statistically fit for - <a href="/draft">Draft</a>
			<br />
			Take a moment to post some <a href="/feedback">feedback</a>
		</p>
	</div>
	
	<!--
	<div class="col-lg-12" >
		<hr />
		<p>
			Tags: height, weight, basketball
			Published: 31/03/2021
		</p>
	</div>
	-->
</div>

<script>
	
	PAGE_NAME = 'NBA height and weight diversity';
	
</script>


